"/assets/ckeditor/config.js";

<% previous_message_and_options_card_divider = "previous_message_and_options_card_divider_" +  (@node.id).to_s %>
<% text_area_form_hide_or_show = "text_area_form_hide_or_show_" +  (@node.id).to_s %>
<% botmessages_box_after_text_area_partial = "botmessages_box_after_text_area_partial_" +  (@node.id).to_s%>
<% botresponses_messages_area_text_area = "botresponses_messages_area_text_area_" + (@node.id).to_s%>

document.getElementById('<%= botmessages_box_after_text_area_partial %>').innerHTML = "<%= j render 'home/edit/nodes/botmessages_box_after_text_area', parent_id: @node.parent_id%>";
document.getElementById('<%= previous_message_and_options_card_divider%>').classList.add('hide');
document.getElementById('<%= text_area_form_hide_or_show %>').classList.remove('hide');

editor = CKEDITOR.replace('<%= botresponses_messages_area_text_area %>');
editor.setData('<p></p>');

// ajax part for links
<% def changing_links (parent_node_id, count, number_of_children) %>
	console.log('<%=parent_node_id%>');
	<% node = Node.find(parent_node_id)%>

	<%if node.parent_id != 0%>
		<% botresponse_and_usermessage_row = "botresponse_and_usermessage_row_" + (node.parent_id).to_s%>
		<% connector_green_link_vertical = "connector_green_link_vertical_"+ (node.parent_id).to_s %>
		<% connector_green_link_partial = "connector_green_link_partial_" + (node.parent_id).to_s%>
		<% connector_green_link_compressed_id = "connector_green_link_compressed_id_" + (node.parent_id).to_s%>
		<% connector_green_link_define_id = "connector_green_link_define_id_" + (node.parent_id).to_s%>
		<% connector_green_link_expanded_id = "connector_green_link_expanded_id_" + (node.parent_id).to_s%>

		console.log(<%= node.id %>);
		console.log('<%= count%>');
		console.log('<%= number_of_children%>');
		console.log('<%= botresponse_and_usermessage_row%>');
		console.log('<%= connector_green_link_vertical%>');
		console.log('<%= connector_green_link_partial%>');
		console.log('<%= connector_green_link_compressed_id%>');
		console.log('<%= connector_green_link_define_id%>');
		console.log('<%= connector_green_link_expanded_id%>');

		count = '<%= count%>';
		count = parseInt(count);
		number_of_children = '<%= number_of_children%>';
		number_of_children = parseInt(number_of_children);

		// for first node
		<%if count == 1%>
			height = 0;
			width = document.getElementById('<%= connector_green_link_partial%>').offsetWidth;
			margin_left = -2;
		// other than first node 
		<%else%>
			<% white_node = Node.find(node.parent_id)%>
			<% previous_green_node = Node.find(white_node.parent_id)%>
			console.log(<%= previous_green_node.id%>);

			height = 0;
			<% count_for_height = 0 %>
			<% for child_nodes in previous_green_node.children %>
				<%count_for_height = count_for_height + 1%>
				<% if count_for_height < count %>
					<% botresponse_and_usermessage_row_trail = "botresponse_and_usermessage_row_" + (child_nodes.id).to_s%>
					<% compressed_define_nodes_id = "compressed_define_nodes_id_" + (child_nodes.id).to_s%>
					<% define_nodes_id = "define_nodes_id_" + (child_nodes.id).to_s%>
					<% expanded_define_nodes_id = "expanded_define_nodes_id_" + (child_nodes.id).to_s%>

					if (!(document.getElementById('<%= compressed_define_nodes_id%>').classList.contains('hide'))){
						user_message_height = document.getElementById('<%= compressed_define_nodes_id%>').offsetHeight;
					}
					if (!(document.getElementById('<%= define_nodes_id%>').classList.contains('hide'))){
						user_message_height = document.getElementById('<%= define_nodes_id%>').offsetHeight;
					}
					if (!(document.getElementById('<%= expanded_define_nodes_id%>').classList.contains('hide'))){
						user_message_height = document.getElementById('<%= expanded_define_nodes_id%>').offsetHeight;
					}

					height = height - user_message_height - 8 + document.getElementById('<%= botresponse_and_usermessage_row_trail%>').offsetHeight;
				<%end%>	
			<%end%>

			width = 10 + (count-1)*5;
			margin_left = -2;
		<%end%>

		console.log(height);
		console.log(width);

		
		width_of_green_link_expanded = 20 + (number_of_children-count)*5;
		width_of_green_link_define = 20 + (number_of_children-count)*5;
		width_of_green_link_compressed = 20 + (number_of_children-count)*5;

		document.getElementById('<%= connector_green_link_define_id%>').style.width = width_of_green_link_define + "px";
		document.getElementById('<%= connector_green_link_compressed_id%>').style.width = width_of_green_link_compressed + "px";
		document.getElementById('<%= connector_green_link_expanded_id%>').style.width = width_of_green_link_expanded + "px";

		document.getElementById('<%= connector_green_link_vertical%>').style.height = height + "px";
		document.getElementById('<%= connector_green_link_vertical%>').style.marginTop = 21 - height + "px";
		document.getElementById('<%= connector_green_link_vertical%>').style.marginLeft = 29 - (count-1)*5 + "px";
		document.getElementById('<%= connector_green_link_partial%>').style.width = width + "px";
		document.getElementById('<%= connector_green_link_partial%>').style.marginLeft = margin_left + "px";
	<%end%>

	<%number_of_children = 0%>
	<% for child in Node.where(bot_id: @bot.id, parent_id: parent_node_id) %>
		<%number_of_children = number_of_children + 1%>
	<%end%>

	<%count = 0%>
	<% for child in Node.where(bot_id: @bot.id, parent_id: parent_node_id) %>
		<%count = count + 1%>
		// if node exits
		<%if child.children.first%>
			<% changing_links(child.children.first.id, count, number_of_children) %>
		// if no node exists
		<%else%>
			<% connector_green_link_vertical = "connector_green_link_vertical_"+ (child.id).to_s %>
			<% botresponses_box_before = "botresponses_box_before_" + (child.id).to_s%>
			<% connector_green_link_partial = "connector_green_link_partial_" + (child.id).to_s%>
			<% connector_green_link_compressed_id = "connector_green_link_compressed_id_" + (child.id).to_s%>
			<% connector_green_link_define_id = "connector_green_link_define_id_" + (child.id).to_s%>
			<% connector_green_link_expanded_id = "connector_green_link_expanded_id_" + (child.id).to_s%>

			count = '<%= count%>';
			count = parseInt(count);
			number_of_children = '<%= number_of_children %>';
			number_of_children = parseInt(number_of_children);

			// horizontal green links
			width_of_green_link_expanded = 20+ (number_of_children-count)*5;
			width_of_green_link_define = 20 + (number_of_children-count)*5;
			width_of_green_link_compressed = 20+ (number_of_children-count)*5;

			document.getElementById('<%= connector_green_link_define_id%>').style.width = width_of_green_link_define + "px";
			document.getElementById('<%= connector_green_link_compressed_id%>').style.width = width_of_green_link_compressed + "px";
			document.getElementById('<%= connector_green_link_expanded_id%>').style.width = width_of_green_link_expanded + "px";

			// vertical green links
			<% previous_green_node = Node.find(child.parent_id)%>
			height = 0;
			<% count_for_height = 0 %>
			<% for child_nodes in previous_green_node.children %>
				<%count_for_height = count_for_height + 1%>
				<% if count_for_height < count %>
					<% botresponse_and_usermessage_row_trail = "botresponse_and_usermessage_row_" + (child_nodes.id).to_s%>
					<% compressed_define_nodes_id = "compressed_define_nodes_id_" + (child_nodes.id).to_s%>
					<% define_nodes_id = "define_nodes_id_" + (child_nodes.id).to_s%>
					<% expanded_define_nodes_id = "expanded_define_nodes_id_" + (child_nodes.id).to_s%>

					if (!(document.getElementById('<%= compressed_define_nodes_id%>').classList.contains('hide'))){
						user_message_height = document.getElementById('<%= compressed_define_nodes_id%>').offsetHeight;
					}
					if (!(document.getElementById('<%= define_nodes_id%>').classList.contains('hide'))){
						user_message_height = document.getElementById('<%= define_nodes_id%>').offsetHeight;
					}
					if (!(document.getElementById('<%= expanded_define_nodes_id%>').classList.contains('hide'))){
						user_message_height = document.getElementById('<%= expanded_define_nodes_id%>').offsetHeight;
					}

					height = height - user_message_height - 8 + document.getElementById('<%= botresponse_and_usermessage_row_trail%>').offsetHeight;
				<%end%>	
			<%end%>


			// vertical length complete 
			margin_left = 0;
			margin_left_green_link_partial = -2;
			width = 10 + (count - 1)*5;

			document.getElementById('<%= connector_green_link_vertical%>').style.height = height + "px";
			document.getElementById('<%= connector_green_link_vertical%>').style.marginTop = 21 - height + "px";
			document.getElementById('<%= botresponses_box_before%>').style.marginLeft = margin_left + "px";
			document.getElementById('<%= connector_green_link_partial%>').style.marginLeft = margin_left_green_link_partial + "px";
			document.getElementById('<%= connector_green_link_partial%>').style.width = width + "px";
			document.getElementById('<%= connector_green_link_vertical%>').style.marginLeft = 29 - (count-1)*5 + "px";
		<%end%>	
	<%end%>

<%end%>

// function call

<% main_node = Node.where(bot_id: @bot.id, parent_id: 0).first%>
<%if main_node %>
	<% changing_links(main_node.id, 1, 0) %>
<%end%>
